@import 'base/variables';
@import 'base/normalize/import-now';
@import 'base/fonts';

@media (--lg) { body:before { content: ''; } }
@media (--md) { body:before { content: ''; } }
@media (--sm) { body:before { content: ''; } }

body {
  background-color: peru;
}